# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# Flet
.flet/

# Database
*.db

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project
.agents/
comandos.txt
